

	.login-container {
		width: 100%;
		height:100%;
		@include flex(flex-start,column);
		.login-header {
			width: 100%;
			align-items: flex-end;
			background-color: $uni-bg-color;
			.header-content{
				@include flex();
				.back-icon {
					padding: 0 $uni-spacing-row-sm;
				}
				.info {
					font-size: $uni-font-size-slg;
					flex: 1;
					color: white;
					@include flex(center);
				}
			}
		}
		.login-bg{
			width: 100%;
			@include flex(center);
			background-color: $uni-color-primary;
		}
		.login-content{
			background-color: $uni-bg-color-grey;
			width: 100%;
			.login-tab{
				@include flex(center);
				padding: $uni-spacing-row-lg;
				.tab-item{
					color: $uni-text-color-grey;
					margin: 0 $uni-spacing-row-lg * 2;
					&.active{
						color: $uni-color-primary;
						&:after{
							content: '';
							display: block;
							width: 100%;
							height: 2px;
							background-color: $uni-color-primary;
						}
					}
				}
			}
			.login-form{
				background-color: white;
				.login-btn{
					margin-top: $uni-spacing-col-lg;
					background-color: $uni-color-primary;
					width: 300rpx;
					color: white;
					border-radius: $uni-border-radius-base;
				}
			}
		}
		.login-footer{
			@include flex();
			width: 100%;
			flex:1;
			margin-top: $uni-spacing-col-lg;
			.login-footer-item{
				padding: $uni-spacing-row-lg *2;
				color: $uni-text-color-grey;
				font-size: $uni-font-size-base;
				text-decoration: underline;
				
			}
		}
	}
	:deep(.uni-forms-item__label){
		color: black;
	}
	.vcode{
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(110%,-50%);
	}
	.login-form-item{
		position: relative;
		margin: 0 $uni-spacing-row-lg;
		margin-right: $uni-spacing-row-lg * 6;
		padding: $uni-spacing-col-lg;
		.form-input{
			height: 100%;
			@include flex(center,column);
		}
	}