page{
	height: 100%;
	display: flex;
	flex-direction: column;
}
.search-container{
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	.search-history-container{
		background-color: $uni-bg-color-grey;
		.search-header{
			padding:$uni-spacing-row-lg;
			@include flex();
			color: $uni-color-primary;
			border-bottom: 1px solid #CCC;
			font-size: $uni-font-size-base;
			font-weight: 800;
			.clear-history{
				color: $uni-color-error;
			}
		}
		.search-history-content{
			@include flex(flex-start,row,wrap);
			.history-tag-item{
				padding: $uni-spacing-row-sm $uni-spacing-row-base;
				margin: $uni-spacing-col-lg $uni-spacing-row-sm;
				color: $uni-color-primary;
				border: 1px solid $uni-color-primary;
				border-radius: $uni-border-radius-base;
			}
		}
	
}
	.search-list-container{
		height: 100%;
		flex:1;
		overflow: auto;
		.search-content{
			@include flex(center,row,wrap);
			padding: $uni-spacing-row-lg;
			.history-item{
				color: $uni-color-primary;
				padding: $uni-spacing-row-sm $uni-spacing-row-base;
				margin:$uni-spacing-row-base;
				border: 1px solid $uni-color-primary;
				border-radius: $uni-border-radius-base;
			}
		}
		.no-data{
			@include flex(center,column);
			color: #CCC;
			height: 400rpx;
		}
	}
}